@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

@media screen and (max-width: 1920px){
/* ---------------      Botones + tiros + resultado   -------------------- */
#canTiros {
    width: 25%;
    margin: 0 auto;
    font-weight: 200;
}

#info {
    text-align: center;
    color: #252a34;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

#ctnrBtns{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#resultado{
    margin-top: 0 auto;
    text-align: center;
}

#botonTirar{
    margin: 1%;
}
/* ---------------      Turnos     -------------------- */
#turnosJugadores{
    margin: 0 auto;
    width: 100%;
}

ul li{ 
    display:inline-block; 
    color: #252a34;
    width:60%; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

ul li:first-of-type, ul li:last-of-type{ 
    width: 40%;
    height: 10%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#player1.enJuego {
    background-color: #FF2E63;
}

#player2.enJuego {
    background-color: #09D9D6;
}

/* ---------------      Puntos     -------------------- */
#Tpuntajes{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 90%;
    margin: 0 auto;
}

#puntajeJ1,#puntajeJ2 {
    color: #252a34;
    font-size: 1em;
    width: 40%;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#puntajeJ1{
    float: left;
    margin-right: -4%;
}

#puntajeJ2{
    float: right;
    margin-right: -4%;
}

/* ---------------      Dados     -------------------- */
#contenedor {
    width: 60%;
    display: flex;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#dado1,#dado2,#dado3 {
    float: left;
    width: 20%;
    margin: 2%;
}

.imgDados {
    width: 100%;
    margin: 0 auto;
}

.seleccionado {
    opacity: 0.2;
}

}

@media only screen and (max-width: 800px){
  #contenedor{
    width: 100%;
    margin-top: 10%;
  }

  #dado1,#dado2,#dado3 {
    width:25%;
}

#ctnrBtns{
    position: relative;
    width: 100%;
}

button{
    width: 45%;
    margin: 1%;
    text-align: center;
}

#turnosJugadores{
    margin: 0 auto;
    width: 100%;
}

#player1,
#player2 {
    text-align: center;
    width: 90%;
    display: block;
    float: left;
    padding: 1%;
    font-size: 1em;
    border: none;
}

ul li{ 
    display:inline-block; 
    color: #252a34;
    width:60%; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

ul li:first-of-type, ul li:last-of-type{ 
    width: 40%;
    height: 10%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul li:first-of-type.turno1{ 
    background-color: #FF2E63; 
    color: #252a34; 
    font-size: 1em;
    padding: 0.5%;
    text-align: center;
    vertical-align: middle;
}

ul li:last-of-type.turno2{ 
    background-color:#09D9D6; 
    color: #252a34; 
    font-size: 1em;
    padding: 0.5%;
    text-align: center;
    vertical-align: middle;
}

#Tpuntajes{
    background-color: lightgreen;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 90%;
    margin: 0 auto;
}

#puntajeJ1,#puntajeJ2 {
    color: #252a34;
    font-size: 1em;
    width: 40%;
    text-align: center;
    margin-top: -10%;
}

#puntajeJ1{
    float: right;
 
}
#puntajeJ2{
    float: left;
}

}

