@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


@media screen and (min-width: 300px) and (max-width: 1000px) {
/* ---------------      Botones + tiros + resultado   -------------------- */
#info {
    width: 100%;  
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    font-weight: 200;
}
    
#ctnrBtns{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
    
#puntajesGenerala {
    width: 20%;
    display: block;
    float: left;
}
    
#puntajesGenerala img {
    width: 50%;
}

.message {
    width: 98%;
    margin: 1%;
    background-color: #253A41;
    color: #f7f7f7;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5em;
}

/* -----------------   Tabla de anotar    --------------------- */
table {
    /* top | right | bottom | left */
    margin: 10% 0 0 0;
    color: #000;
    border-collapse: collapse;
    z-index: 30;
    position: absolute;
    background-color: #f7f7f7;
    table-layout: fixed;
    width: 80%;   
    overflow: scroll;
}

th,
td {
    border: 0.2px solid #000;
}

td{
    width: 5%;
    font-size: 1em;

}

table thead tr th,th:last-of-type {
    text-transform: uppercase;
    font-size: 1em;
}
    
table thead tr th:nth-of-type(2) {
    width: 30%;
    background-color: #FF2E63;
    color: #000;
}
    
table thead tr th:nth-of-type(3) {
    width: 30%;
    background-color: #09D9D6;
    color: #000;
}
    
table tbody tr:first-of-type {
    text-align: left;
}
    
.noDisp {
    display: none;
}

.btnPuntaje{
    box-shadow: none;
    border: none;
    text-align: left;
}

/* ---------------      Turnos     -------------------- */
#turnosJugadores{
    width: 100%;
    margin: 15% 0 2% 0;
}

ul li{ 
    display:inline-block; 
    color: #252a34;
    width:60%; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

ul li:first-of-type, ul li:last-of-type{ 
    width: 40%;
    height: 1%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#player1_generala.enJuego {
    background-color: #FF2E63;
}

#player2_generala.enJuego {
    background-color: #09D9D6;
}
  
/* ---------------      Dados     -------------------- */
#dados{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
    
#contenedor {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    justify-content: center;
}
    
#dado1,#dado2,#dado3 {
    float: left;
    width: 25%;
    margin-left: 5%;
}
    
#dado4 {
    width: 25%;
    margin-left: 20%;
}
    
#dado5 {
    width: 25%;
    margin-top: -30%;
    margin-left: 50%;
}
    
img {
    width: 100%;
    margin: 0 auto;
}
    
.seleccionado {
    opacity: 0.5;
}
    
}
      
@media (min-width: 1001px) and (max-width: 1920px){
/* ---------------      Botones + tiros + resultado   -------------------- */
#info {
    width: 60%;
    text-align: center;
    color: #252a34;
    font-size: 1.2em;
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#ctnrBtns{
    width: 100%;
    margin-top: 12%;
    text-align: center;
}

button{
    margin: 0.5%;
}

#resultado{
    margin-top: 0 auto;
    text-align: center;
}

/* -----------------   Tabla de anotar    --------------------- */
#tablaPuntajes {
    width: 40%;
    padding: 0.5%;
    color: #000;
    border-collapse: collapse;
    margin-top: -1%;
    float: right;
    font-family: 'Montserrat', sans-serif;
}

table{
    padding: 1%;
    color: #000;
    border-collapse: collapse;
    background-color: #eaeaea;
    font-family: 'Open Sans', sans-serif;
}

th,
td {
    border: 0.8px solid #000;
}

table thead tr th,
th:last-of-type {
    text-transform: uppercase;
    font-size: 1em;
}

table thead tr th:nth-of-type(2) {
    width: 50%;
    background-color: #FF2E63;
    color: #000;
}

table thead tr th:nth-of-type(3) {
    width: 50%;
    background-color: #09D9D6;
    color: #000;
}

table tbody tr td {
    text-align: center; 
}

table tbody tr:first-of-type {
    text-align: left;
}

.message {
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: #253A41;
    color: #eaeaea;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5em;
}

.btnPuntaje{
    width: 100%;
    display: block;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: #A9A9A9;
    box-shadow: none;
    border-radius: 0%;
    text-align: left;
}

#puntajesGenerala{
    box-shadow: none;
    border-radius: 0;
    display: none;
}

#imgAnotar{
    width: 30%;
}

/* ---------------      Turnos     -------------------- */
#turnosJugadores{
    width: 50%;
    margin-left: 5%;
}

ul li{ 
    display:inline-block; 
    color: #252a34;
    width:60%; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

ul li:first-of-type, ul li:last-of-type{ 
    width: 40%;
    height: 1%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#player1_generala.enJuego {
    background-color: #FF2E63;
}

#player2_generala.enJuego {
    background-color: #09D9D6;
}

/* ---------------      Dados     -------------------- */
#contenedor {
    width: 50%;
    height: 400px;
    margin: 2% 15% 0 5% ;
    
}

/* Top | Right | Bottom | Left */
#dado1,
#dado2,
#dado3 {
    float: left;
    width: 25%;
    margin: 4%;
}

#dado4 {
    width: 25%;
    margin: 0;
    padding: 2%;
    margin-left: 20%;
}

#dado5 {
    width: 25%;
    margin-left: 55%;
    margin-top: -28%;
    padding: 2%;
}

img {
    width: 100%;
    margin: 0 auto;
}

.seleccionado {
    opacity: 0.5;
}

}
